@font-face {
  font-family: 'Alibaba-PuHuiTi';
  src: url('../assets/fonts/Alibaba-PuHuiTi-Heavy.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'YouShe';
  src: url('../assets/fonts/YouSheBiaoTiHei-2.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PingFang_SC';
  src: url('../assets/fonts/PingFangSC-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Title';
  src: url('../assets/fonts/庞门正道标题体.ttf');
  font-weight: normal;
  font-style: normal;
}
