html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  overflow: hidden;
  font-family: 'PingFang_SC';
}

::-webkit-scrollbar {
  display: none;
}

input {
  outline: none;
}

input::placeholder {
  color: black;
}

.custom {
  border-radius: 8px 8px 8px 0 !important;
}

.empty {
  border: 1px solid transparent;
  background: linear-gradient(#F9FAFB, #F9FAFB) padding-box,
    repeating-linear-gradient(-45deg, #ccc 0, #ccc 0.5em, white 0, white 0.75em);
}

@keyframes rotateImage {
  from {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(360deg)
  }
}

.test-img {
  animation: rotateImage 10s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
